*{
    /* Definindo estilos que vem como padrão como margem espaçamento interno  */
    padding: 0%;
    margin: 0;
    list-style: none;
}

/* ESTILO PARA O CABEÇALHO */

header
{
background-color:#434e83; /*Defininfo cor de fundo*/
padding: 60px; /*Espaçamento interno ao redor do conteúdo*/
display: flex; /*Ultiliza o flex box para layout*/
align-items: center; /*Alinha os itens verticamente*/
justify-content: space-around; /*Justificando os itens no space arround*/

}

header img
{
    width: 100px; /*Largura dá imagem*/
    height: auto; /*Altura dá imagem*/
}

/* Estilos para a lista ddentro do cabeçalho */

header div ul
{
display: flex; /*Exibe a lista como um flex  conteiner*/
}       

/* Estilo para os itens dá lista dentro do cabeçalho */

header div ul li
{
margin-right: 15px; /*Espaçamento entre os itens dá lista*/
}

/*Estilo para os itens da lsita dentro do cabeçalho*/

header div ul li a
{
text-decoration: none; /*Tira o sublinhado dos link*/
color:#9e70e8 ; /*Cor dá fonte*/
font-weight: 800; /*Peso dá fonte*/
}

header div ul li a:hover /*evento de houver quando o mouse passar em cima */
{
    color: #ffceff;
    transition: 0.5s; /*tempo para transição*/
}

/* CONFIGURANDO OS ESTILO DA PRIMEIRA SESSÃO */

.section1 
{
    padding: 250px; /*Espeçamento interno dos lado*/
    display: flex; /*ultilizando o flexbox para layout*/
    background-color: #8858ff; /*Definindo com de fundo*/
    justify-content: center; /*alinha o cnteúdo horizontalmente*/
    align-items: center; /*Alinha o conteúdo verticalmente no centro*/
    background-image: url(imagens/imag\ fundo\ section1.jpg); /*IMAGEM DE FUNDO*/
    background-size: cover; /*Faz a imagem cobrir todo container*/
    background-repeat: no-repeat; /*Impede a repetição da imagem*/
    background-position:center; /*posiciona a imagem ao centro*/
    padding: 300px; /*Espaçamento interno aumentado*/
}

/* CONFIGURAÇÃO DO ESTILO DO BOTÃO */

.section1 button 
{
    width: 150px ; /*Largura do botão*/
    height: 45px; /*Altura do botão*/
    background-color: #808080; /*Cor de fundo*/
    justify-content: center; /*Alinha o conteúdo do botão ao centro */
    color: black ; /*Cor dá fonte*/
    border-color:#ffbfff ; /*Cor dá borda*/
    box-shadow: 5px 5px 5px / #ca94fb; /*Grossura dá borda*/
    border-radius: 10px; /*Borda arredondadas*/
    cursor: pointer; /*Cursor do mouse assim que */
}

.section1 button:hover
{
    background-color: #9e70e8 ;
    color: #d8d9f0;
    transition: 0.8s;
    cursor: pointer;
}

/* CONFIGURAÇÃO DE ESTILO PRA SEGUNDA SESSÃO */

.section2
{
    padding:250px ; /*Espaçamento em todos os lados*/
    justify-content: space-evenly; /*Espaça os itens igualmente*/
    align-items: center; /*Alinha os itens verticalmente no centro*/
    background-color:#1a2143 ; /*Cor de fundo*/
    display: flex; /*Utiliza o flexbox para layout*/
}

/* Estilo do texto */

.section2 p
{
    margin: 30px; /*Espaçamento ao redor do par0ágrafo*/
    font-weight: 300; /*Peso dá fonte*/
    font-size: 20px; /*Tamanho dá fonte*/
    color:#ffceff ; /*Cor dá fonte*/
}

/* Estilo do titulo */

.section2 h1
{
    margin: 30px; /*Espaçamento ao redor do paragráfo*/
    font-weight: 400; /*Peso dá fonte*/
    font-size: 40px; /*peso dá fonte*/
    color:#9e70e8 ; /*Cor dá fonte*/
}

/* CONFIGURAÇÕES DO ESTILO DÁ TERCEIRA SESSÃO */

.section3
{
    background-image: url(imagens/img\ de\ fundo\ section2.jpg); /*imagem de fundo*/
    padding: 300px; /*Definindo o espalamento interno*/
    background-attachment: fixed ; /*Faz com que a imagem de fundo fique fixa*/
    background-repeat: no-repeat; /*Impede a repetiçaõ da imagem*/
    background-size: cover; /*Faz a iamgem cobrir todo o conteiner*/
    background-position: center; /*Posiciona a imagem ao centro*/
    color: #d8d9f0; /*Cor da fonte*/
}

/* CONFIGURAÇÕES DO ESTILO DO FOOTER (Roda pé) */

footer
{
    background-color:#434e83 ; /*Cor de fundo */
    color: #b17cff; /*Cor dá fonte*/
    display: flex; /*utilizando o flexbox pra  layput*/
    justify-content:space-around; /*Alinha o conteúdo horizontamente ao centro*/
    padding: 35px; /*Espaçamento interno ao redor*/
    align-items: center; /*Alinha os itens verticamente*/
}

/* Estilo para  lista dentro do roda pé */

footer div ul
{
    display: flex; /*Exibe a lista como um flex container */
}

/* Estilo para os itens da lista dentro do rodapé */

footer div ul li
{
    margin-right: 15px; /*Espaçamento entre os itens*/
}
/* Estilo para os links dentro dá lista do roda pé */

footer div ul li a 
{
    color: #9e70e8; /*Cor do texto dos links*/
    text-decoration: none; /*Remove o sublinhado dos links*/
    font-weight: 800; /*Pesso dá fonte*/
    font-family: Georgia, 'Times New Roman', Times, serif; /*Fonte dos links*/
}

footer div ul li a:hover
{
    color: #ca94fb;
    transition: 0.5s;
}